/* 
===========
variables

===========
*/

:root {
 --primarycolor: #f15025;
 --mainblack: #222;
 --mainwhite: #fff;
 --offwhite: #f7f7f7;
 --darkgrey: #afafaf;
 --maintransition: all 0.3s linear;
 --mainspacing: 0.2rem;
}

/* 
===========
Global Styles

===========
*/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Fira Code", monospace;
 color: var(--mainblack);
 background: var(--mainwhite);
 line-height: 1.5;
}

a {
 text-decoration: none;
}

li {
 list-style-type: none;
}

img {
 display: block;
 width: 100%;
}

h1, h2, h3 {
 text-transform: capitalize;
 letter-spacing: var(--mainspacing);
 margin-bottom: 1.25rem;
}

h1 {
 font-size: 3rem;
}

h2 {
 margin-bottom: 0;
}

p {
 font-weight: 300;
 font-size: 0.7rem;
 line-height: 2;
}

/* btn-main */

.btn {
 text-transform: uppercase;
 display: inline-block;
 color: var(--primarycolor);
 padding: 0.7rem 1.1rem;
 border: 3px solid var(--primarycolor);
 background: transparent;
 transition: var(--maintransition);
 margin: 3rem;
}

/* Button */

.btn:hover {
 background: var(--primarycolor);
 color: var(--mainwhite);
}

/* nav-bar */

.main-nav {
 background: var(--darkgrey);
 padding: 0 2rem;
}

.nav-control {
 color: var(--primarycolor);
 display: block;
 font-size: 1.2rem;
 margin: 0.8rem 0.5rem;
 text-transform: capitalize;
 transition: var(--maintransition);
 letter-spacing: var(--mainspacing);
}

.nav-control:hover {
 color: var(--mainblack);
}

@media screen and (min-width:992px) {
 .main-nav ul {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 }
 .main-nav a {
  text-align: center;
 }
}

/* ****************Hero Html***************** */

.hero-header {
 min-height: 100vh;
 background: linear-gradient(rgba(241, 80, 37, 0.75),rgba(0,0,0,0.75)), url(../images/image-2.jpeg)center/cover fixed no-repeat;
 color: var(--mainwhite);
 display: grid;
 justify-content: center;
 align-items: center;
}

.hero-banner {
 padding: 0 1rem;
}

.hero-banner p {
 width: 80%;
 max-width: 560px;
 font-size: 1rem;
}

.hero-banner h1 {
 /* text-align: center; */
}

@media screen and (max-width:600px) {
 .hero-banner {
  padding: 0 3rem;
 }
}

@media screen and (min-width:768px) {
 .hero-header {
  ba
 }
}